.line {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ced4da;
  transition: all 0.3s;
}

.cell.active {
  background-color: #0d6efd;
}
